// @import "feather-icon/feather-icon";

:root {
    --header-height: 59px;
    --bottom-menu: 81px;
    --height-available: calc(var(--header-height) + var(--bottom-menu));
  }
  @media (max-width: 960px) {
    :root {
      --header-height: 65px;
      --bottom-menu: 65px;
    }
  }