<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"
/>
<div class="panel-container">
  <div class="panel">
    <div class="board-container">
      <!-- Componente hijo que permite la visualizacion del canvas y sus opciones -->
      <app-board
        (updateProductSideEvent)="updateProductSide($event)"
        (updateCanvasSidesEvent)="updateCanvasSides($event)"
        (previewImageEvent)="updatePreviewImg($event)"
        [product]="
            productsPerCategory[currentIndexes.category]
            .products[currentIndexes.product]
            .sizes[currentIndexes.size]
            .colors[currentIndexes.color].sides
        "
        [productVariant]="
          productsPerCategory[currentIndexes.category].products[
            currentIndexes.product
          ].sizes[currentIndexes.size].colors[currentIndexes.color].id
        "
        [productSide]="currentIndexes.side"
        [canvasSides]="canvasSides"
        >
      </app-board>
    </div>
    <div class="options-container">
      <div class="options-container-header">
        <ng-container *ngIf="!optionsIsOpen; else elseTemplate">
          <div class="options-container-default-title">
            <p>Editar diseño personalizado</p>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <ng-container>
            <app-top-header>
              
            </app-top-header>
          </ng-container>
        </ng-template>
      </div>
      <div class="options-container-helper">
        <div class="selection-container">
          <app-selection
            (openOneEvent)="handleSelection($event)"
          ></app-selection>
        </div>
      </div>
    </div>
  </div>
</div>

