/*Estilos para el contenedor del panel completo del editor*/
.panel-container {
    /*Asigna color al fondo del editor*/
    background: #fcfcfc;
    /*Asigna display tipo flex*/
    display: flex;
    /*Centra el contenido del display*/
    justify-content: center;
    /*El contenido se moverá hacia arriba y abajo*/
    flex-direction: column;
    /*Asigna la altura del contenedor del panel completo*/
    height: calc(100vh - var(--header-height));
}
/*Estilos para el panel del editor*/
.panel {
    /*Asigna la altura del panel del editor*/
    height: calc(100vh - var(--height-available));
    /*Asigna altura minima del panel del editor*/
    min-height: 490px;
    /*Asigna display tipo grid*/
    display: grid;
    /*Crea dos columnas, una para el visor y la otra para las opciones*/
    grid-template-columns: 8fr 6fr;
    /*Crea un fila al maximo*/
    grid-template-rows: auto;
    /*Asigna espacio entre las filas*/
    row-gap: 18px;
    /*Asiga ancho maximo del panel*/
    max-width: 1400px;
    /*Asigna dos areas al grid*/
    grid-template-areas: "board selection";
    /* margin-top: 12px; */
    /* border: 1px solid lightgray; */
}
/*Estilos para el contenedor del visor*/
.board-container {
    /*Asigna el nombre del area del grid*/
    grid-area: board;
    /*Asigna color de fondo del area*/
    background: white;
    /*Asigna tamaño del borde del area*/
    border-radius: 4px;
}
/* Estilos para el contenedor de las opciones del editor */
.options-container {
    /*Asigna el nombre del area del grid*/
    grid-area: selection;
    /* Asigna display tipo flex */
    display: flex;
    /*El contenido se moverá hacia arriba y abajo*/
    flex-direction: column;
}
/* Estilos para el contenedor de la cabecera de las opciones del editor */
.options-container-header {
    /* Asigna color de fondo */
    background: #d7d7d7;
    /* Asigna altura */
    height: 36px;
    /* Asigna espacio de relleno arriba, derecha, abajo e izquierda */
    padding: 0 15px 0 25px;
    /* Asigna ancho de fuente */
    font-weight: bold;
}
/* Estilos para el párrafo en la cabecera de las opciones */
.options-container-header p {
    /* Sin margen en los cuatro lados */
    margin: 0;
    /* Asigna color al párrado */
    color: #222;
}
/* Estilos para el titulo de la cabecera de las opciones */
.options-container-default-title {
    /* Asigna altura al máximo */
    height: 100%;
    /* Asigna display tipo flex */
    display: flex;
    /* Asigna alineación de los elementos dentro del bloque */
    align-items: center;
}
/* Estilos para las opciones en el editor */
.options-container-helper {
    /* Asigna color de fondo */
    background: white;
    /* Asigna display tipo grid */
    display: grid;
    /* Crea una columna */
    grid-template-columns: 1fr;
    /* Crea una fila */
    grid-template-rows: 1fr;
    /*El desbordamiento se recorta y el resto del contenido se oculta*/
    overflow: hidden;
    /* Asigna altura al máximo */
    height: 100%;
}
/* Estilos para el contenedor de las opciones seleccionada */
.option-container {
    /* Asigna color de fondo */
    background: white;
    /* Asigna altura al máximo */
    height: 100%;
    /* Asigna ancho al máximo */
    width: 100%;
    /* Asigna espacio de relleno arriba, derecha, abajo e izquierda */
    padding: 10px 5px 0 15px;
    /* Agrega una transformación que dura 0.25s con un movimiento fácil */
    transition: transform 0.25s ease;
    /* Traslada las opciones al máximo del eje X */
    transform: translateX(100%);
}
/* Estilos para el contenedor de las opciones seleccionadas cuando tiene la clase open */
.option-container.open {
    /* Traslada las opciones al inicio del eje X */
    transform: translateX(0);
}
/* Estilos para el contenedor de las selecciones del editor */
.selection-container,
.option-container {
    /* Permite que el contenedor de las selecciones ocupe el mismo espacio del contenedor de las opciones */
    /* Asigna inicio y final de la fila */
    grid-row: 1/-1;
    /* Asigna inicio y final de la columna */
    grid-column: 1/-1;
}
/* En pantallas de 960 px o menos */
@media screen and (max-width: 960px) {
    /*Estilos para el panel del editor*/
    .panel {
        /* Aisgna ancho al máximo */
        width: 100%;
        /* Crea una columna */
        grid-template-columns: 1fr;
        /* Crea una fila al máximo */
        grid-template-rows: auto;
        /*Asigna espacio entre las filas*/
        column-gap: 0;
        /*Asigna espacio entre las filas*/
        row-gap: 18px;
        /* Sin margen en los cuatro lados */
        margin: 0;
        /* Asigna un area al grid */
        grid-template-areas: "board";
        /* Sin espacio de relleno superior */
        padding-top: 0;
        /* Sin bordes */
        border: none;
    }
    /*Estilos para el contenedor del visor*/
    .board-container {
        /* Sin margen en los cuatro lados */
        margin: 0;
    }
    /* Estilos para el contenedor de las opciones del editor */
    .options-container {
        /* Traslada las opciones al máximo del eje Y */
        transform: translateY(100%);
        /* Asigna ancho al máximo */
        width: 100%;
        /* Asigna el nivel de pila para que los botones queden por encima de los demás elementos */
        z-index: 100;
        /* Asigna tipo de posicionamiento */
        position: fixed;
        /* Asigna posición desde la parte inferior */
        bottom: 0;
        /* Agrega una transformación que dura 0.25s con un movimiento fácil */
        transition: transform 0.25s ease;
    }
    /* Estilos para el contenedor de las selecciones del editor */
    .selection-container {
        /* Oculta el elemento */
        display: none;
    }
    /* Estilos para el contenedor de las opciones del editor cuando tiene la clase active */
    .options-container.active {
        /* Traslada las opciones al principio del eje Y */
        transform: translateY(0);
    }
    /* Estilos para el contenedor de las opciones seleccionada */
    .option-container {
        /* Traslada al inicio del eje X */
        transform: translateX(0);
        /* Sin espacio de relleno en los cuatro lados */
        padding: 0;
    }
    /*Estilos para el contenedor del panel completo del editor*/
    .panel-container {
        /* Sin espacio de relleno en los cuatro lados */
        padding: 0;
        /*Asigna color al fondo del editor*/
        background: white;
        /*Asigna la altura del contenedor del panel completo*/
        height: calc(100vh - var(--height-available));
    }
}
/* En pantallas de 720 px o menos */
@media screen and (max-width: 720px) {
    /*Estilos para el panel del editor*/
    .panel {
        /* Asigna tamaño de fuente */
        font-size: 12px;
        /* Asigna altura minima */
        min-height: initial;
    }
    /* Estilos para el contenedor de las opciones del editor */
    .options-container-header {
        /* Asigna espacio de relleno arriba, derecha, abajo e izquierda */
        padding: 0 10px 0 15px;
    }
}
/* En pantallas de 500px o menos */
@media screen and (max-width: 500px) {
    /*Estilos para el panel del editor*/
    .panel {
        /* Sin margen superior */
        margin-top: 0;
    }
}