<div class="modal-preview" *ngIf="showPreviewImg">
    <div class="img-preview-container">
        <span class="material-icons notranslate" (click)="togglePreview()">
            close
        </span>
        <div class="model-preview-imgs-container">
            <img
              [src]="previewItem"
              alt=""
              srcset=""
              *ngFor="let previewItem of canvasSidesPreview; let i = index"
            />
        </div>
    </div>
</div>
<div class="board-container">
    <div class="left-controls">
        <div class="group-container">
            <!-- Crea un boton por cada vista de producto -->
            <!-- En la vista actual activa el borde -->
            <button
                [class.active]="productSide == i"
                *ngFor="let side of product; let i = index"
                (click)="changeProductSide(i)"
            >
                <!-- Asigna la imagen de la vista del producto -->
                <img [src]="canvasSidesPreview[i]" alt="">
                <!-- Asigna el nombre de la vista del producto -->
                <span>{{side.name}}</span>
            </button>
        </div>
    </div>
    <div class="right-controls">
        <div class="group-container undo-redo">
            <div class="sub-group">
                <button (click)="undo()" [class.disabled]="historyIndex === 0">
                    <i class="fa fa-history"></i>
                </button>
                <button
                    (click)="redo()"
                    [class.disabled]="
                        historyIndex == history.length - 1 || history.length == 0
                    "
                >
                    <i class="fa fa-history rotated"></i>
                </button>
            </div>
        </div>
        <div class="group-container">
            <button>
              <span class="material-icons notranslate">
                settings
              </span>
            </button>
        </div>
        <div class="group-container tools">
            <button (click)="showGuideLines()" [class.active]="guideLines">
                <span *ngIf="!guideLines" class="material-icons notranslate">
                    grid_off
                </span>
                <span *ngIf="guideLines" class="material-icons notranslate">
                    grid_on
                </span>
            </button>
            <button
                [class.disabled]="!objectActive"
                [disabled]="!objectActive"
            >
                <i class="icomoon-layer-up"></i>
            </button>
            <button
                [class.disabled]="!objectActive"
                [disabled]="!objectActive"
            >
                <i class="icomoon-layer-down"></i>
            </button>
            <button
                [class.disabled]="!objectActive"
                [disabled]="!objectActive"
            >
                <span class="material-icons notranslate">content_copy</span>
            </button>
            <button
                class="scaling"
                [class.disabled]="!objectActive"
                [disabled]="!objectActive"
            >
                <span class="material-icons notranslate">
                format_shapes
                </span>
            </button>
            <button
                class="align-button"
                [class.disabled]="!objectActive"
                [disabled]="!objectActive"
            >
                <i class="fa fa-crosshairs"></i>
                <i class="fa fa-caret-up more"></i>

                <div class="align-container">
                    <span class="material-icons notranslate">
                        vertical_align_top
                    </span>
                    <span
                        class="material-icons notranslate"
                    >
                        vertical_align_center
                    </span>
                    <span class="material-icons notranslate">
                        vertical_align_bottom
                    </span>
                    <button>
                        <app-feather-icons icon="crosshair"></app-feather-icons>
                    </button>
                    <span
                        class="material-icons notranslate rotate"
                    >
                        vertical_align_bottom
                    </span>
                    <span
                        class="material-icons notranslate rotate"
                    >
                        vertical_align_center
                    </span>
                    <span
                        class="material-icons notranslate rotate"
                    >
                        vertical_align_top
                    </span>
                </div>
            </button>
            <button
                [class.disabled]="!objectActive"
                [disabled]="!objectActive"
            >
                <span class="material-icons notranslate">
                delete_forever
                </span>
            </button>
            <button (click)="togglePreview()">
                <span class="material-icons notranslate">
                  zoom_in
                </span>
            </button>
        </div>
    </div>
    <div class="canvas" #container>
        <div class="img-container">
            <!-- Imagen que contiene la vista actual del prodcuto en el canvas -->
            <img [src]="product[productSide].url" alt="" #imgBackground>
            <!-- Asigna alto y ancho al canvas de acuerdo al ancho y alto de la imagen -->
            <div
                class="canvas-aux"
                [ngStyle]="{
                'top.px': heightImgBackground * top,
                'left.px': widthImgBackground * left,
                'paddingLeft.px': imgOffset
                }"
            >
                <div
                    *ngIf="guideLines && objectActive"
                    class="top-left"
                    [ngStyle]="{
                        'grid-template-columns': 'repeat(' + gridColumn + ',1fr)',
                        'grid-template-rows': 'repeat(' + gridRow + '1fr)'
                    }"
                >
                    <div
                        *ngFor="let item of grid; let i = index"
                        [class.noTop]="i < gridColumn"
                        [class.noLeft]="i % gridColumn == 0"
                    ></div>
                </div>
                <div
                    *ngIf="guideLines && objectActive"
                    class="top-right"
                    [ngStyle]="{
                        'grid-template-columns': 'repeat(' + gridColumn + ',1fr)',
                        'grid-template-rows': 'repeat(' + gridRow + '1fr)'
                    }"
                >
                    <div
                        *ngFor="let item of grid; let i = index"
                        [class.noTop]="i < gridColumn"
                        [class.noRight]="(i + 1) % gridColumn == 0"
                    ></div>
                </div>
                <div
                    *ngIf="guideLines && objectActive"
                    class="bottom-left"
                    [ngStyle]="{
                        'grid-template-columns': 'repeat(' + gridColumn + ',1fr)',
                        'grid-template-rows': 'repeat(' + gridRow + '1fr)'
                    }"
                >
                    <div
                        *ngFor="let item of grid; let i = index"
                        [class.noBottom]="i >= grid.length - gridColumn"
                        [class.noLeft]="i % gridColumn == 0"
                    ></div>
                </div>
                <div
                    *ngIf="guideLines && objectActive"
                    class="bottom-right"
                    [ngStyle]="{
                        'grid-template-columns': 'repeat(' + gridColumn + ',1fr)',
                        'grid-template-rows': 'repeat(' + gridRow + '1fr)'
                    }"
                >
                    <div
                        *ngFor="let item of grid; let i = index"
                        [class.noBottom]="i >= grid.length - gridColumn"
                        [class.noRight]="(i + 1) % gridColumn == 0"
                    ></div>
                </div>
                <!-- Canvas en donde se renderizaran los objetos -->
                <canvas id="canvas" #canvas></canvas>
                <canvas id="canvasHidden" #canvasHidden></canvas>
            </div>
        </div>
    </div>
</div>
<!-- <button (click)="addCapas()">Agregar Capas</button>
<button (click)="createCanvasHidden(756)">Agregar JSON Original</button>
<button (click)="createCanvasHidden(1200)">Agregar JSON Grande</button>
<button (click)="getImageCDNOverlayText()">Imagen CDN</button> -->
<!-- <button (click)="addImageCDN('image4')">Agregar Imagen4</button>
<button (click)="addImageCDN('image2')">Agregar Imagen2</button>
<button (click)="addImageCDN('image3')">Agregar Imagen3</button>
<button (click)="createCanvasHidden(756)">Agregar JSON 756</button>
<button (click)="createCanvasHidden(1200)">Agregar JSON 1200</button>
<button (click)="downloadImages()">Descargar imagenes</button> -->
<button (click)="createRect()">Create Rect</button>